Lending Club Case Study

In [1]:
# Import all required libraries
import pandas as pd

In [3]:
# Read the Data Set

loan = pd.read_csv(r"C:\Users\Saurabh\OneDrive\AI_ML\Lending Club Case Study\loan\loan.csv")

C:\Users\Saurabh\AppData\Local\Temp\ipykernel_1764\2739936301.py:3: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  loan = pd.read_csv(r"C:\Users\Saurabh\OneDrive\AI_ML\Lending Club Case Study\loan\loan.csv")

In [6]:
# Check if data set is read correctly
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [7]:
# Check data set information
loan.shape

(39717, 111)

In [10]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

Observation 1 : Too many columns have missing values which can implicate the analysis
Action : Remove the columns which have too many 'NA' or '0' or blank or irrelevant constants such as 'XXX' etc.

In [22]:
# Check the count of NA in the given columns
loan.isna().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

Observation 2 : A lot of columns are empty, while a lot may have more than 50% values missing
Action: Identify all columns which has more than 50% missing values and drop them from the dataset.

In [61]:
# Check for columns with more than 50% missing values(NA)

loan = loan.loc[:, (loan.isna().sum() < (loan.shape[0]/2))]
loan

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,80.90,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,281.94,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,0.00,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,0.00,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,256.59,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN

In [62]:
# Check for columns with more than 50% missing values(0)
loan = loan.loc[:, ((loan == 0).sum() <(loan.shape[0]/2))]
loan

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,initial_list_status,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,policy_code,application_type
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,f,5863.155187,5833.84,5000.00,863.16,Jan-15,171.62,May-16,1,INDIVIDUAL
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,f,1008.710000,1008.71,456.46,435.17,Apr-13,119.66,Sep-13,1,INDIVIDUAL
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,f,3005.666844,3005.67,2400.00,605.67,Jun-14,649.91,May-16,1,INDIVIDUAL
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,f,12231.890000,12231.89,10000.00,2214.92,Jan-15,357.48,Apr-16,1,INDIVIDUAL
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,f,3513.330000,3513.33,2475.94,1037.39,May-16,67.79,May-16,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,f,2822.969293,1213.88,2500.00,322.97,Jul-10,80.90,Jun-10,1,INDIVIDUAL
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,f,9913.491822,1020.51,8500.00,1413.49,Jul-10,281.94,Jul-10,1,INDIVIDUAL
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,f,5272.161128,1397.12,5000.00,272.16,Apr-08,0.00,Jun-07,1,INDIVIDUAL
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,f,5174.198551,672.66,5000.00,174.20,Jan-08,0.00,Jun-07,1,INDIVIDUAL
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,f,9195.263334,980.83,7500.00,1695.26,Jun-10,256.59,Jun-10,1,INDIVIDUAL

In [76]:
# Check for Columns with no information
loan.value_counts()

id       member_id  loan_amnt  funded_amnt  funded_amnt_inv  term        int_rate  installment  grade  sub_grade  emp_title               emp_length  home_ownership  annual_inc  verification_status  issue_d  loan_status  pymnt_plan  url                                                               desc                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            purpose             title                                     zip_code  addr_state  dti    earliest_cr_line  inq_last_6mths  open_acc  revol_bal  revol_util  total_acc  initial_list_status  total_pymnt   total_pymnt_inv  total_rec_prncp  total_rec_int  last_pymnt_d  last_pymnt_amnt  last_credit_pull_d  policy_code  application_type
55742    114426     7000       7000         672.803839        36 months  10.71%    228.22       B      B5         CNN                     < 1 year    RENT            65000.0     Not Verified         May-08   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=55742    Just want to pay off the last bit of credit card debt at a better rate.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         credit_card         Credit Card payoff                        112xx     NY          14.29  Oct-00            0               7         33623      76.70%      7          f                    8215.537060   684.94           7000.00          1215.54        Jun-11        228.48           Aug-12              1            INDIVIDUAL          1
749396   948628     5600       5600         5600.000000       36 months  11.99%    185.98       B      B5         State of California     3 years     RENT            52884.0     Not Verified         May-11   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=749396     Borrower added on 05/09/11 > Purpose of loan:<br/>I attempted to provide extremely detailed information but apparently the Lending Club is strict with description terms so I had to revise at least 5 times. Nevertheless, this loan will be used to pay for wedding expenses including a photographer, a videographer, and wedding invitations. Most of the wedding expenses have been accounted for.<br/>My financial situation:<br/>I am a good candidate for this loan because I am a full-time, permanent employee who earns a fixed gross monthly salary of $4,407, which supporting documentation will be provided for. My career is extremely secure, providing job stability. My monthly expenses are low; I do not have a mortgage, which is a significant expense. I&rsquo;m also concerned about improving my FICO scores, which gives me even increased incentive to make on time monthly payments. I&rsquo;ve never owned a house, and have not and will not be directly affected by the sub-prime crash. Please let this be an opportunity benefiting not only , but also yourself. Thank you.<br/>Monthly gross income: $ $4,407 Gross<br/>  wedding             Wedding - Photographer, videographer,etc  923xx     CA          15.18  Apr-01            0               5         7974       93.60%      17         f                    6592.905297   6592.91          5600.00          977.91         Jul-13        2116.10          May-16              1            INDIVIDUAL          1
750212   949517     6000       6000         6000.000000       36 months  11.49%    197.83       B      B4         hot chocolate sparrow   5 years     RENT            24000.0     Not Verified         May-11   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=750212     Borrower added on 05/08/11 > I'm trying to buy a good reliable car. I have a subaru picked out and have had it looked at. I live in a small town and it is a local sale so I am getting a good deal on the car. I have been a manager at a very successful cafe for five years, and will be able to repay. Thanks!<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       car                 car loan                                  026xx     MA          1.90   Oct-00            2               6         3869       30.30%      19         f                    7121.773326   7121.77          6000.00          1121.77        May-14        205.94           Nov-15              1            INDIVIDUAL          1
750210   949515     9600       9600         9600.000000       60 months  13.49%    220.85       C      C2         Ameriprise              10+ years   MORTGAGE        100000.0    Not Verified         May-11   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=750210     Borrower added on 05/08/11 > Adding a pool and small patio to the backyard.  Have been employed with the same company for over 15 years and have been in the home for over six.  Do not miss payments and always on time.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                home_improvement    Home Improvement Loan                     541xx     WI          10.97  Sep-95            3               11        12901      70.10%      37         f                    12573.250870  12573.25         9600.00          2973.25        May-14        4860.14          May-16              1            INDIVIDUAL          1
750143   949442     24000      14775        14775.000000      36 months  7.49%     459.53       A      A4         Applied Materials       5 years     RENT            67000.0     Source Verified      May-11   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=750143     Borrower added on 05/07/11 > Goal is to pay off high interest credit card bills I am a Financial Analyst in the Semiconductor industry. The high-tech industry is cyclical in nature and in 2008-2009 my company implemented a number of furlows which reduced my income by 25%. I had no other choice, but to use my credit card for living expenses and it's been very difficult to get my credit cards paid off with such high interest. I am a young professional and would love to be able to save some money to buy a house, but this credit card debt is making it nearly impossible. PLEASE help fund my loan. I have had a stable job with the same company for over 5 years and have a great credit history.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                   debt_consolidation  May2011_Personal_Loan                     787xx     TX          14.69  Apr-93            0               19        31582      38.70%      45         f                    16484.302570  16484.30         14775.00         1709.30        Apr-14        391.62           May-16              1            INDIVIDUAL          1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ..
514479   665045     3000       3000         3000.000000       36 months  13.85%    102.32       C      C4         Healing Health Center   1 year      RENT            16000.0     Not Verified         May-10   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=514479     Borrower added on 05/11/10 > I have a car note and a credit card I would like to pay off and have one low monthly note.  Also the car note is in my ex-husbands name and I would like to get it paid off so I can have it transfered into my name.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       other               Pay Off Bills                             704xx     LA          3.00   Nov-06            0               2         880        58.70%      6          f                    3466.330024   3466.33          3000.00          466.33         Jan-12        607.12           Feb-12              1            INDIVIDUAL          1
514473   665034     24250      24250        23095.140000      36 months  11.36%    798.10       B      B5         State of Wisconsin-DOC  10+ years   MORTGAGE        77052.0     Verified             May-10   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=514473     Borrower added on 05/10/10 > This loan will be used for debt consolidation.  I have an EXCELLENT credit score and have worked for the State of Wisconsin for 16 1/2 years.  I am currently a Section Chief for the Department of Corrections, and since I am in Corrections, I will have a job.<br/> Borrower added on 05/18/10 > We do have equity in our house and still have a mortgage.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              debt_consolidation  Debt Consolidation                        532xx     WI          11.23  Feb-94            1               14        19225      34%         48         f                    27655.021480  26198.47         24250.00         3405.02        Mar-12        3113.21          May-16              1            INDIVIDUAL          1
514446   664995     8000       8000         8000.000000       36 months  10.25%    259.08       B      B2         Omni Services Inc       7 years     MORTGAGE        39996.0     Not Verified         May-10   Fully Paid   n           https://lendingclub.com/browse/loanDetail.action?loan_id=514446     Borrower added on 05/11/10 > I plan on paying off some debts. I also plan on buying a car.<br/> Borrower added on 05/11/10 > I have been with my place of employment for 7 years and still going.<br/> Borrower added on 05/11/10 > I also pay all my bills on time or ahead of time.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    major_purchase      al                                        016xx     MA          3.81   Oct-00            0               5         6075       58.40%      7          f                    8968.999400   8969.00          8000.00          969.00         Nov-11        4587.91          May-16              1            INDIVIDUAL          1
514399   664939     15000      15000        14501.912530      36 months  10.62%    488.40       B      B3         American Express        10+ years   RENT            66000.0     Source Verified      May-10   Charged Off  n           https://lendingclub.com/browse/loanDetail.action?loan_id=514399     Borrower added on 05/11/10 > I am applying for a personal loan to consolidate my credit card debt into one monthly payment.<br/> Borrower added on 05/12/10 > I would like to note that having this loan not only will consolidate my debt into one monthly payment, it will also help me save on my current credit card interest rates significantly, allowing me to pay off my debt much faster.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       debt_consolidation  savings                                   926xx     CA          9.55   Apr-96            0               9         17835      53.10%      41         f                    1513.160000   1496.71          1073.95          387.95         Aug-10        488.40           May-16              1            INDIVIDUAL          1

Observation 3 : Columns application_type, policy_code, initial_list_status, pymnt_plan have the same data across all rows. Therefore, these columns do not provide any insight.
term, zip_code, revol_util contains special characters in the values which needs to be removed before any calculations performed on these columns.
total_pymnt has wrong data format(more than 2 decimal place)

Action: Drop columns application_type, policy_code, initial_list_status, pymnt_plan

In [78]:
# Drop columns application_type, policy_code, initial_list_status, pymnt_plan
loan.drop(['application_type', 'policy_code', 'initial_list_status', 'pymnt_plan'],axis=1,inplace=True)

C:\Users\Saurabh\AppData\Local\Temp\ipykernel_1764\774986589.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.drop(['application_type', 'policy_code', 'initial_list_status', 'pymnt_plan'],axis=1,inplace=True)

In [81]:
# Re-verify Columns for Missing Values
loan.isna().sum()

id                         0
member_id                  0
loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
emp_title               2459
emp_length              1075
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
loan_status                0
url                        0
desc                   12942
purpose                    0
title                     11
zip_code                   0
addr_state                 0
dti                        0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
revol_bal                  0
revol_util                50
total_acc                  0
total_pymnt                0
total_pymnt_inv            0
total_rec_prncp            0
total_rec_int              0
last_pymnt_d              71
last_pymnt_amnt            0
last_credit_pull_d         2
dtype: int64

In [91]:
# Export dataset into CSV
loan.to_csv('Loan_Cleaned_V01.csv', sep=',',index=False)